mcb-mcb-footer-widget{
    .mcb-footer{
        font-size: 10px;
        color: $color-gray-light;
    }
    .group{
        color: $color-gray-light !important;    
    }
    .footer-main-conatiner{
        min-height: 48px;
    }
}