mcb-mcb-header-widget{
    .mcb-main-header{
        min-height: 48px;
    }
    .mcb-header-logo{
            display: block;
            text-indent: -9999px;
            width: 76px;
            height: 30px;
            background: url(../../../assets/images/mcb_logo.svg);
            background-repeat: no-repeat;
            margin-top: 15px;
            margin-bottom: 15px;     
    }
    .mcb-header-conatiner{
        background-color: #ffffff;
        box-shadow:   0px 0px 22px 0px rgba(211,211,211,0.50) !important;
    }    
    .header{
        height: auto;
    }
}